<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find d_bot_description)/urdf/d_bot_full.xacro" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find d_bot_description)/rviz/rviz.rviz" />
</launch>