<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="d_bot">
    

<!-- imu_plugin -->

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>



  <!-- hokuyo -->
  <gazebo reference="front_lidar_link">
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-1.570796</min_angle>
            <max_angle>1.570796</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/front/laser/scan</topicName>
        <frameName>front_lidar_link</frameName>
      </plugin>
    </sensor>
  </gazebo>


<!-- Depth camera Left-->
 
<gazebo reference="left_rs_link">
  <sensor type="depth" name="left_camera">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>20.0</update_rate>
      <camera>
         <horizontal_fov>2.14</horizontal_fov> 
          <image>
              <format>B8G8R8</format>
              <width>1280</width>
              <height>720</height>
          </image>
          <clip>
              <near>0.02</near>
              <far>12.0</far>
          </clip>
      </camera>
      <plugin name="kinect_camera_controller" filename="libgazebo_ros_openni_kinect.so">
        <baseline>0.2</baseline>
        <alwaysOn>true</alwaysOn>
        <!-- Keep this zero, update_rate in the parent <sensor> tag
          will control the frame rate. -->
        <cameraName>left_camera</cameraName>
        <imageTopicName>/left_camera/color/image_raw</imageTopicName>
        <cameraInfoTopicName>/left_camera/color/camera_info</cameraInfoTopicName>
        <depthImageTopicName>/left_camera/depth/image_raw</depthImageTopicName>
        <depthImageCameraInfoTopicName>/left_camera/depth/camera_info</depthImageCameraInfoTopicName>
        <pointCloudTopicName>/left_camera/depth/points</pointCloudTopicName>
        <frameName>left_rs_visual_link</frameName>
        <pointCloudCutoff>0.01</pointCloudCutoff>
        <pointCloudCutoffMax>20.0</pointCloudCutoffMax>
        <distortionK1>0</distortionK1>
        <distortionK2>0</distortionK2>
        <distortionK3>0</distortionK3>
        <distortionT1>0</distortionT1>
        <distortionT2>0</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <hackBaseline>0</hackBaseline>

      </plugin>
  </sensor>
</gazebo>




<!-- Depth camera right-->
 
<gazebo reference="right_rs_link">
  <sensor type="depth" name="right_camera">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>20.0</update_rate>
      <camera>
         <horizontal_fov>2.14</horizontal_fov> 
          <image>
              <format>B8G8R8</format>
              <width>1280</width>
              <height>720</height>
          </image>
          <clip>
              <near>0.02</near>
              <far>12.0</far>
          </clip>
      </camera>
      <plugin name="kinect_camera_controller" filename="libgazebo_ros_openni_kinect.so">
        <baseline>0.2</baseline>
        <alwaysOn>true</alwaysOn>
        <!-- Keep this zero, update_rate in the parent <sensor> tag
          will control the frame rate. -->
        <cameraName>right_camera</cameraName>
        <imageTopicName>/right_camera/color/image_raw</imageTopicName>
        <cameraInfoTopicName>/right_camera/color/camera_info</cameraInfoTopicName>
        <depthImageTopicName>/right_camera/depth/image_raw</depthImageTopicName>
        <depthImageCameraInfoTopicName>/right_camera/depth/camera_info</depthImageCameraInfoTopicName>
        <pointCloudTopicName>/right_camera/depth/points</pointCloudTopicName>
        <frameName>right_rs_visual_link</frameName>
        <pointCloudCutoff>0.01</pointCloudCutoff>
        <pointCloudCutoffMax>20.0</pointCloudCutoffMax>
        <distortionK1>0</distortionK1>
        <distortionK2>0</distortionK2>
        <distortionK3>0</distortionK3>
        <distortionT1>0</distortionT1>
        <distortionT2>0</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <hackBaseline>0</hackBaseline>

      </plugin>
  </sensor>
</gazebo>



</robot>